APP_ENV=development
DATABASE_URL=
CALL_PROVIDER_MODE=fake
RAG_MODE=disabled
CALLE_API_KEY=
CALLE_BASE_URL=https://api.heycall-e.com
CALLE_LIVE_ENABLED=false
CALLE_ALLOWED_RECIPIENTS=
CALLE_RECIPIENT_REGION=
CALLE_RECIPIENT_LOCALE=
CALLE_TEST_PHONE=
CALLE_TEST_REGION=
CALLE_TEST_LOCALE=
CALLE_LIVE_TEST_CONFIRM=
